@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-[#020617] text-gray-200;
  overflow-x: hidden;
  
}

.card {
  @apply bg-[#0F172A] rounded-xl shadow-lg;
}


input,
textarea {
  color: #000;
}

select option {
  color: black;
}

